body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #0F2143;
    color: white;
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

header h2 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #0F2143;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #0c1a36;
}

.nav-logo {
    width: 35px;
    height: 35px;
    filter: brightness(0) invert(1); /* Change the color to white */
    vertical-align: middle;
    margin-right: 5px;
}
.header-logo {
    display: flex;
    align-items: center;
}
.header-logo img {
    margin-right: 10px;
}

.container {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #0F2143;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0c1a36;
}

.flash-message {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.flash-message.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.flash-message.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.recommendations {
    margin-top: 20px;
}

.recommendations ul {
    list-style-type: disc;
    padding-left: 20px;
}

.recommendations li {
    margin-bottom: 10px;
}

.logout-btn {
    padding: 10px 20px;
    background-color: #0F2143;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.tier-btn {
    padding: 8px 12px;
    background-color: #0F2143;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.4);
    transition: all 0.2s ease;
    margin: 5px;
}

.tier-btn:hover {
    background-color: #0c1a36;
}

.tier-buttons-container {
    margin-bottom: 20px; 
}

form {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-right: 10px;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    margin-right: 10px;
}

select:focus {
    border-color: #4CAF50;
    outline: none;
}

.close-btn {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #f44336;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
}
.close-btn:hover {
    background-color: #d32f2f;
}
.btn-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

select, input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    margin-right: 10px;
}

select:focus, input[type="text"]:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #0F2143;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0F2143;
}
